.authInput {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}

.inputGeneral {
    display: flex;
    /* flex-wrap задаёт правила вывода flex-элементов — в одну строку или в несколько, 
    с переносом блоков. Если перенос разрешён, то возможно задать направление, в котором выводятся блоки. */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 5% 5%;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: lightgray;
}